.btn {
  display: inline-block;
  vertical-align: top;

  background: $secondary;
  font-family: inherit; //наследования шрифта у родителей
  font-size: 1.2rem;
  padding: 1.15em 2.1em;
  border-radius: 25px;

  border: none;
  cursor: pointer;
  font-width: 500;
  line-height: 1.1;
  color: $white;
  text-decoration: none; //убираем ___
  transition: background-color .2s linear;//плавное изминения color

  &--red{
    background-color: $red;
    box-shadow: 0 7px 17px -10px rgba($red, .25);
    &:hover{
      background-color: darken($red, 10%); //затемняем на 10 %
    }
  }

  &--blue{
    background-color: $blue;
    box-shadow: 0 7px 17px -10px rgba($blue, .25);
    &:hover{
      background-color: darken($blue, 10%); //затемняем на 10 %
    }
  }
  &--rounded{
    border-radius: 0.41em;
  }
  &--sm{
    padding:0.7em 1.25em;
  }
}