.sidebar {
  width: 300px;
  height: 100vh;
  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, .1);
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;

  @include breakpoint($tablet-bp) {
    top: 4rem;
    height:calc(100vh-40px);
    transform: translateX(-100%);
    transition: trasform .2s linear;
    overflow: auto;
    .show-sidebar & {
      transform: translateX(0);

    }
  }
}

.sidebar__header {
  height: 18rem;
  background-color: $secondary;

  img {
    dispaly: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include breakpoint($tablet-bp) {
    height: 10rem;
  }

}

.sidebar_content {
  padding: 0 2rem;
  margin-top: -5rem;
  /*@include breakpoint($tablet-bp) {
    margin-top: ;
  }*/
}

.sidebar_footer {
  display: flex;
  justify-content: space-between;

  padding: 0 2rem;
}